doctype
html
    include ../main/head.pug
    body
        .wrap
            .admin-inner-part
                nav.top-nav-admin
                    ul
                        li
                            a(href='../orders/') Заказы
                        li
                            a(href='../catalog/') Каталог
                        li
                            a(href='./') Импорт
                        li
                            a(href='./') YML Export
                h2 Выбор поставщика:
                ul
                    li
                        a(href='./oil/') Масла
                    li
                        a(href='./antifreeze/') Антифризы
                    li
                        a(href='./washerliquid/') Стеклоомыватель
                    li
                        a(href='./busmarket/') Бусмаркет
                    li
                        a(href='./omegaautopostavka/') Омегаавтпоставка
