doctype
html
    include ../main/head.pug
    body
        .wrap
            .admin-inner-part
                nav.top-nav-admin
                    ul
                        li
                            a(href='./cabinet/') Кабинет
                        li
                            a(href='./orders/') Заказы
                        li
                            a(href='./catalog/') Каталог
                        li
                            a(href='./import/') Импорт
                        li
                            a(href='./yexport/') YML Export
                        li
                            a(href='./general-imformation/') Информация