.wrap-customer-information{
    margin: 20px 0;
    & + span{
        background-color: #f5f3f3;
    }
    span{
        display: block;
    }
}
.wrap-delivery-information{
    margin-bottom: 20px;
    span{
        display: block;
    }
}
.wrap-customer-comment{
    margin-bottom: 20px;
    span{
        &:first-child{
            background-color: #efefef;
        }
        display: block;
        padding: 5px 10px;
    }
}
.wrap-ordered-products-information{
    table{
        tr{
            &:first-child{
                background-color: #efefef;
            }
            td{
                padding: 5px 10px;
            }
        }
    }
}