doctype
html
    include ../main/head.pug
    body
        .wrap
            .admin-inner-part
                nav.top-nav-admin
                    ul
                        li
                            a(href='../orders/') Заказы
                        li
                            a(href='../catalog/') Каталог
                        li
                            a(href='../import/') Импорт
                        li
                            a(href='./') YML Export
                .wrap-yml-export-settings