doctype
html
    include main/head.pug
    body
        .wrap
            .w1
                include main/header.pug
                main.wrap-main-catalog
                    h1 Каталог запчастей на ...
                    .main-catalog
                        .catalog-part-1
                            h3
                                a(href='./1/') Запчасти для TO
                            ul
                                li
                                    a(href="./1/10359/") Фильтр маслянный
                                li
                                    a(href="./1/10360/") Фильтр воздушный
                                li
                                    a(href="./1/10361/") Фильтр топливный
                                li
                                    a(href="./1/10363/") Фильтр салона
                            a(href="/1") Показать все
                        .catalog-part-2
                            h3
                                a(href="./1") Двигатель
                            ul
                                li
                                    a(href="./1/..") ...
                        .catalog-part-3
                            h3
                                a(href="./1") Тормозная система
                            ul
                                li
                                    a(href="./1/82") Тормозной диск
                                li
                                    a(href="./1/402") Тормозные колодки
                                li
                                    a(href="./1/..") Тормозные накладки (бараб. торм.)
                                li
                                    a(href="./1/..") Колесный тормозной цилиндр
                                li
                                    a(href="./1/258") Главный тормозной цилиндр
                        .catalog-part-4
                            h3
                                a(href="./1") Подвеска
                            ul
                                li
                                    a(href="./1/..") ...
                                li
                                    a(href="./1/...") ...
                                li
                                    a(href="./1/..") ...
                                li
                                    a(href="./1/..") ...
                                li
                                    a(href="./1/..") ...
                        .catalog-part-5
                            h3
                                a(href="./1") Коробка передач
                            ul
                                li
                                    a(href="./1/..") ...
                                li
                                    a(href="./1/...") ...
                                li
                                    a(href="./1/..") ...
                                li
                                    a(href="./1/..") ...
                                li
                                    a(href="./1/..") ...
                        .catalog-part-6
                            h3
                                a(href="./1") Система охлаждения
                            ul
                                li
                                    a(href="./1/..") Термостат
                                li
                                    a(href="./1/...") ...
                                li
                                    a(href="./1/..") ...
                                li
                                    a(href="./1/..") ...
                                li
                                    a(href="./1/..") ...
            footer.footer
                .footer-inner