doctype
html
    include ../main/head.pug
    body
        .wrap
            .w1
                include ../main/header.pug
                main.wrap-catalog-section
                    .catalog-section-1
                        h1 Запчасти для TO
                        ul
                            li
                                a(href="./7/") Фильтр маслянный
                            li
                                a(href="./8/") Фильтр воздушный
                            li
                                a(href="./9/") Фильтр топливный
                            li
                                a(href="./424/") Фильтр салона
            footer.footer
                .footer-inner