footer.footer
    .footer-inner
        .footer-wrap
            .wrap-social-button
                span Присоединяйтесь
                a(href='#', class= 'social-icon')
                    .fb-icon
                a(href='https://vk.com/mkpp_com_ua', class= 'social-icon')
                    .vk-icon
            .general-imformation
                ul
                    li
                        a(href='#') Поставщикам
                    li
                        a(href='#') О нас
                    li
                        a(href='/oplata-i-dostavka/') Доставка и оплата
                    li
                        a(href='/garantiya/') Гарантия
            .wrap-contacts-footer
                ul.phone-footer
                    li
                        a(href='tel:+380996424396') (099) 642-43-96
                    li
                        a(href='tel:+380673009852') (067) 300-98-52
                    li
                        a(href='tel:+380931025877') (093) 102-58-77
                    li
                        a(href='mailto:info@mkpp.com.ua') info@mkpp.com.ua
                    li г. Харьков, ул. Грековская 6
                    li
                        a(href='/kontakti/') Смотреть карту проезда
    script(type='text/javascript', src='/static/js/y_metrika.js')