nav.main-menu
    ul(id='main-menu-ul')
        li
            a(href='#' onclick="return false;") Смазки и жидкости
            ul.main-menu-first-level
                li
                    a(href='/catalog/avtomobilnye-masla/') Масла
                li
                    a(href='/catalog/antifreeze/') Антифризы
                li
                    a(href='/catalog/washerliquid/') Жидкость для стеклоомывателя
        li
            a(href='#', id='link-a') Запчасти для ТО
            ul.main-menu-first-level
                li
                    a(href='/catalog/maslyanii-filtr/') Масляный фильтр
                li
                    a(href='/catalog/vozdyshnii-filtr/') Воздушный фильтр
                li
                    a(href='/catalog/toplivnii-filtr/') Топливный фильтр
                li
                    a(href='/catalog/filtr-salona/') Фильтр салона
        li
            a(href='#' onclick="return false;") Двигатель
            ul.main-menu-first-level
                li
                    a(href='/catalog/remen-grm/') Ремень ГРМ
                li
                    a(href='/catalog/remen-generatora/') Ремень генератора
                li
                    a(href='/catalog/bolt-golovki-bloka-cilindrov/') Болт ГБЦ
        li
            a(href='#' onclick="return false;") Тормозная система
            ul.main-menu-first-level
                li
                    a(href='/catalog/tormoznoy-disk/') Тормозной диск
                li
                    a(href='/catalog/tormoznyie-kolodki/') Тормозные колодки
                li
                    a(href='/catalog/tormoznyie-kolodki-baraban/') Тормозные колодки (бараб. торм.)
                li
                    a(href='/catalog/rabochii-tormoznoi-cilindr/') Рабочий тормозной цилиндр
                li
                    a(href='/catalog/glavnii-tormoznoi-cilindr/') Главный тормозной цилиндр
        li
            a(href='#' onclick="return false;") Подвеска
            ul.main-menu-first-level
                li
                    a(href='/catalog/amortizator/') Амортизаторы
                li
                    a(href='/catalog/sharovaya-opora/') Шаровая опора
                li
                    a(href='/catalog/pyilnik-amortizatora/') Пыльник амортизатора
                li
                    a(href='/catalog/saylentblok-ryichaga/') Сайлентблок рычага
        li
            a(href='#' onclick="return false;") Коробка передач
            ul.main-menu-first-level
                li
                    a(href='/catalog/komplekt-scepleniya/') Комплект сцепления
                li
                    a(href='/catalog/shrys/') ШРУС
                li
                    a(href='/catalog/polyos/') Полуось
        li
            a(href='#' onclick="return false;") Система охлаждения
            ul.main-menu-first-level
                li
                    a(href='/catalog/termostat/') Термостат
//              li
                    a(href='/catalog/rolik-natyajitelya-remnya-grm/') Ролик натяжителя ремня ГРМ
                li
                  a(href='/catalog/prokladka-golovki-bloka-cilindrov/') Прокладка ГБЦ
                li
                    a(href='/catalog/stupitsa-kolesa/') Ступица
                li
                    a(href='/catalog/prokladka-poddona-akpp/') Прокладка поддона АКПП
                li
                    a(href='/catalog/pilnik-shrysa/') Пыльник шруса
                li
                    a(href='/catalog/tros-stsepleniya/') Трос сцепления