div(class='wrap-popup-cart', id='wrap-popup-cart')
div(class='popup-cart', id='popup-cart')
    div(class='button-close-popup-cart-top', id='button-close-popup-cart-top')
    ul(id='popup-cart-products')
    .wrap-ful-cost-popup-cart
        span(id='full-cost-popup-cart')
    .wrap-go-to-cart-from-popup
        a(href='#', class='button-close-popup-cart') Продолжить покупки
        a(href='/cart/') Перейти к оформлению