doctype
html
    include ../main/head.pug
    body
        .wrap
            .w1
                include ../main/header.pug
                main.wrap-statik-page
                    h1 Гарантия
                    section.garantiya-first-desc
                        h3 Полная гарантия возврата!
                        p Для полной уверенности клиента в качестве товаров, продающихся в нашем интернет-магазине, мы предоставляем Вам возможность получить стоимость товара обратно или обменять товар на другой.
                    section.garantiya-second-desc
                        h3 Причиной для возврата товара является:
                        p - обнаружение видимых дефектов товара при визуальном осмотре при получении в отделении транспортной компании;
                        p - несоответствие параметров товара в заказе фактически полученным;
                        p - иные причины, возврат по желанию покупателя (без указания причины)*;
                        p.garantiya-second-desc-bottom Все расходы, связанные с транспортировкой товара, возлагаются на продавца. Для оформления возврата свяжитесь с нашими менеджерами.
                        p.garantiya-additions * при возврате товара без видимых на то причин транспортные расходы возлагаются на покупателя
            include ../main/footer.pug
        script(type='text/javascript', src='/static/js/static.js')