doctype
html
    include ../main/head.pug
    body
        .wrap
            .w1
                include ../main/header.pug
                main.wrap-statik-page
                    h1 Оплата и доставка
                    section.delivery-to-kharkiv
                        h3 Доставка товаров по Харькову
                        p Стоимость адресной доставки товара по Харькову составляет 40 грн.
                        p Самовывоз по адресу (по предварительному согласованию с менеджером по телефону): 
                            span г. Харьков, ул. Грековская, 6
                    section.delivery-to-ukraine
                        h3 Доставка масел, фильтров и др. запчастей по Украине
                        p Доставка масел по Украине возможна компаниями: "Ин-тайм", "Новая Почта", "Деливери". Вы можете самостоятельно расcчитать стоимость и срок доставки, воспользовавшись онлайн калькуляторами: <a href="https://novaposhta.ua/delivery" target="_blank">"Новая Почта"</a>, <a href="http://www.intime.ua/calc/" target="_blank">"Интайм"</a>, <a href="http://www.delivery-auto.com/ru-RU/Calculator" target="_blank">"Деливери"</a> или уточнить стоимость у наших менеджеров.
                        p Расходы, связанные с доставкой товара получателю и обратной доставкой денег (наложенный платеж), оплачиваются покупателем, либо без наложенного платежа (оплата на карту ПриватБанка).
                        p Наши менеджеры проконсультируют Вас по всем вопросам, связанным с оформлением заказа, оплатой и доставкой. 


            include ../main/footer.pug
        script(type='text/javascript', src='/static/js/static.js')